<!DOCTYPE html>
<!-- saved from url=(0018)http://engzell.me/ -->
<html class=" js csstransforms3d csstransitions csstransformspreserve3d" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Alex Beam</title>
	<meta name="robots" content="noodp,noydir">
	<meta name="description" content="Alex Beam">
	<meta name="keywords" content="digital design, branding, marketing, web design, design">
<!-- 	<link rel="canonical" href="./tempplate_files/tempplate.html">
	<link rel="publisher" href="http://plus.google.com/+AlexanderEngzell/about"> -->
<!-- 	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="article">
	<meta property="og:title" content="Alexander Engzell | A self taught, Swedish born Art Director">
	<meta property="og:description" content="A self taught, Swedish born Art Director">
	<meta property="og:url" content="http://engzell.me/">
	<meta property="og:site_name" content="Alexander Engzell">
	<meta property="og:image" content="http://engzell.me/assets/images/alexander.jpg"> -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@alex_beam">
	<meta name="twitter:domain" content="Alexander Engzell">
	<meta name="twitter:creator" content="@alex_beam">
	<meta property="og:site_name" content="Alex Beam">
	<meta property="og:url" content="http://alexjbeam.com">
	<meta property="og:title" content="Alex Beam">
	<meta property="og:type" content="article">
	<!-- <link rel="shortcut icon" href="http://engzell.me/favicon.png"> -->
	<link href="./tempplate_files/css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" media="all" href="./tempplate_files/main.css">
	<script async="" src="./tempplate_files/analytics.js"></script><script src="./tempplate_files/modernizr.custom.js"></script><style type="text/css"></style>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-49584671-1', 'auto');
			ga('send', 'pageview');

		</script>
</head>
<body style="overflow: visible;">
<div class="wrapper">
<!-- 	<nav class="accessibility-nav">
		<ol>
			<li><a href="http://engzell.me/#navigation">Skip to navigation</a></li>
			<li><a href="http://engzell.me/#content">Skip to content</a></li>
			<li><a href="http://engzell.me/#sidebar">Skip to sidebar</a></li>
		</ol>
	</nav> -->
	<!-- / accessibility-nav -->

	<header id="header" role="banner" style="height: 908px;">
		<div class="container">
			<div id="intro" style="padding-top: 307.125px;">
				<h1 style="color: white;">Alex Beam</h1>
				<h2 style="color: white;">University of Michigan BBA interested in IT Consulting, web developement, and entrepreneurship.</h2>
			</div>
			<!-- / intro -->
		</div>
		<a class="scroll-down" href="http://#about" title=""><img src="assets/scroll-down.png" width="45" height="24" alt="Scroll Down Image"></a>
	</header>
	<!-- / header -->

	
	<!-- / navigation -->

	<main role="main">
		<section id="about">
			<div class="container">
				<figure><img src="assets/headshot.jpg" width="255"></figure>
				<h1>Middle of the spectrum</h1>
				<div class="text">
					<p>It was from his bedroom that Alexander, a self-taught college dropout, would complete his first paid design job – a project awarded to him at the tender age of 15. The seed was sown, and a regular 9 to 5 became a box he wasn’t made to fit.</p>
					<p>Three years later Alex started EngzellDesign. By now his self-taught eye was a sought after commodity in Sweden’s design circles. </p>
					<p>Alex, with the occasional hiring of ad hoc talent, would go on to produce branding and design for the likes of bestselling Swedish authors, 5 star boutique hotels and global environmental projects, such as GoBlueToo.</p>
					<p>The new decade carried a change in direction. Alexander rebranded – turning EngzellDesign into Bonne Marque. </p>
					<p>The rebrand took the company from a one man Scandinavian-centric firm, to a full-service branding agency handling clients from around the world; including names like Compeed (Johnson &amp; Johnson), Digicel and Entrepreneur.com.</p>
				</div>
				<!-- / text -->
			</div>
		</section>
		<!-- / about -->

		<section id="past" style="background-color: #000">
			<div class="container">
				<h1>The past</h1>
				<dl class="clearfix">
					<dt>
						<p>Technology Consultant</p>
						<p class="h2">University of Michigan</p>
					</dt>
					<dd>
						<p class="date">Jan 2014 - Present</p>
						<ul>
							<li>Provided full stack support in MS Office, Adobe CS, HTML, and CSS for hundreds of undergraduate and masters research projects</li>
							<li>Optimized network software to improve printing release times by 2 minutes per print and systematically classified error codes for quicker troubleshooting</li>
							<li>18 hours per week each term</li>
						</ul>
					</dd>

					<dt>
						<p>Intern Consultant / Software Developer</p>
						<p class="h2">Siyelo Software, LLC</p>
					</dt>
					<dd>
						<p class="date">Summer 2014</p>
						<ul>
							<li>Interviewed nonprofit microfinance client Founder/CEO and staff on icebox improvements to their online accounting platform responsible for financing Spaza shops in rural South Africa</li>
							<li>Implemented surveyed changes with personal recommendations into a graphical data interface and dashboard resulting in significantly faster data entry and clearer report intuition among accounting staff</li>
							<li>Identified key business drivers in building Siyelo’s online consultancy database <i>Made in Cape Town</i>, giving local companies access to an array of diverse consulting solutions</li>
						</ul>
					</dd>

					<dt>
						<p>Founder / Co-owner</p>
						<p class="h2">Beam Custom, LLC</p>
					</dt>
					<dd>
						<p class="date">Mar 2012 - Present</p>
						<ul>
							<li>Invented a recycled veneer process that has reduced 3/4 of furniture waste by creating eco‐friendly longboards, this segmented into $10,000 of additional annual revenue</li>
							<li>Secured strategic partnership with House of Marley, heightening awareness within the targeted marketing segment—environmentally conscience young adults</li>
							<li>Built and operate <a style="color: grey" href="www.beamcustom.com">beamcustom.com</a> with a database of over 150 product images, improving traffic by 10 viewers per day and sales by 2 furniture orders per month</li>
						</ul>
					</dd>

					<dt>
						<p>Project Director (Venture Expo)<br><br>Talent Member (Design, 1000 Pitches <br><br>Summit)</p>
						<p class="h2">MPowered</p>
						<p class="h2">Entrepreneurship</p>
					</dt>
					<dd>
						<p class="date">Sept 2012 - Sept 2014</p>
						<ul>
							<li>Designed and launched Venture Expo, the only co‐working entrepreneurial space on campus, giving over 50 campus startups a place to consult with the Center for Entrepreneurship, showcase their products, and prototype 24 hours a day</li>
							<li>Developed the MPowered brandbook, a tool used in marketing over 30 projects in the past 2 years, helping the organizationʹs brand become consistently recognizable</li>
							<li>Organized the 1000 Pitches Summit by booking venues, food, and speakers. Achieving record attendance and surveyed satisfaction.</li>
						</ul>
					</dd>

					<dt>
						<p class="h2">Additional</p>
					</dt>
					<dd>
						<ul>
							<li>Fluent in HTML 5, CSS 3, Ruby, Rails, Javascript, JQuery, and Excel VBA</li>
							<li>USTA ranked 4.5 doubles tennis player and recent intermural champion</li>
							<li>Lifelong artist, sculptor, and woodworker. Recipient of 2 Scholastic Art Awards with furniture featured in Architectural Digest</li>
							<li>Conversant in Spanish</li>
						</ul>
					</dd>
				</dl>

				<form method="get" action="http://engzell.me/#">
					<button class="progress-button btn" data-style="fill" data-horizontal=""><span class="content">Download .PDF</span><span class="progress"><span class="progress-inner"></span></span></button>
				</form>

			</div>
		</section>
		<!-- / past -->

		<section id="clients">
			<div class="container">
				<h1>Companies I've worked with</h1>
				<ul>
					<!-- <li><figure><a href="http://www.blinkentertainment.tt/" target="_blank"><img src="./tempplate_files/blink-logo.png" width="200" height="200" alt="Blink Logo"></a></figure></li>
					<li><figure><a href="http://www.compeed.com/" target="_blank"><img src="./tempplate_files/compeed-logo.png" width="200" height="200" alt="Compeed Logo"></a></figure></li>
					<li><figure><a href="http://www.digicelgroup.com/" target="_blank"><img src="./tempplate_files/digicel-logo.png" width="200" height="200" alt="Digicel Logo"></a></figure></li>
					<li><figure><a href="http://www.falksalt.com/us/" target="_blank"><img src="./tempplate_files/falksalt-logo.png" width="200" height="200" alt="Falksalt Logo"></a></figure></li>
					<li><figure><a href="http://www.hap.hydal.com/" target="_blank"><img src="./tempplate_files/hap-logo.png" width="200" height="200" alt="HAP Logo"></a></figure></li>
						<li><figure><a href="http://www.entrepreneur.com/" target="_blank"><img src="./tempplate_files/entrepreneur-logo.png" width="332" height="200" alt="Entrepreneur Logo"></a></figure></li>
 -->
				</ul>
			</div>
		</section>
		<!-- / clients -->
		<!-- / testimonials -->
	</main>
	<!-- / main -->

	<aside id="sidebar" role="complementary">
		<div class="container">
			<p></p>
		</div>
	</aside>
	<!-- / aside -->

	<footer id="footer" role="contentinfo">
		<div class="container">
			<figure><img src="./tempplate_files/footer-logo.png" width="57" height="57" alt="Engzell Logo"></figure>
			<ul class="social">
				<li class="twitter ir"><a href="https://twitter.com/engzell" target="_blank">twitter<span></span></a></li>
				<li class="behance ir"><a href="http://www.behance.net/bonnemarque" target="_blank">behance<span></span></a></li>
				<li class="dribble ir"><a href="http://dribbble.com/BonneMarque" target="_blank">dribble<span></span></a></li>
				<li class="google ir"><a href="https://plus.google.com/+AlexanderEngzell/posts" target="_blank">google+<span></span></a></li>
			</ul>
		</div>
	</footer>
	<!-- / footer -->
</div></div>

<!-- Preloader -->


<!-- / wrapper -->

<script src="./tempplate_files/jquery-2.1.0.min.js"></script>
<script>window.jQuery || document.write("<script src='assets/js/jquery-2.1.0.min.js'>\x3C/script>")</script>
<script src="./tempplate_files/scripts.js"></script>
<script src="./tempplate_files/main.js"></script>

<script type="text/javascript">
	//<![CDATA[
		$(window).load(function() { // makes sure the whole site is loaded
			$('#status').fadeOut(); // will first fade out the loading animation
			$('#preloader').delay(450).fadeOut('slow'); // will fade out the white DIV that covers the website.
			$('body').delay(450).css({'overflow':'visible'});
		})
	//]]>
</script>

<div id="mm-blocker"></div></body></html>